# Back testing Code

In [1]:
import pyupbit
import numpy as np
import time
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')
from tqdm import tqdm

In [2]:
coin_type = "KRW-BTC"
# OHLCV: Open High Low Close Volume. 당일 시가, 고가, 저가, 종가, 거래량에 대한 data
df = pyupbit.get_ohlcv(coin_type, count=230) # 7 days

In [3]:
# ==========================================================
# 전략: 변동성 돌파


# 변동폭*k 계산. (고가-저가)*k value
k = 0.032
df['range'] = (df['high'] - df['low']) * k

# target(매수가), range column을 한 칸씩 밑으로 내림
# 어제 가격을 오늘 반영해서 써야 하기 때문
df['target'] = df['open'] + df['range'].shift(1) 

# ==========================================================

In [4]:
# np.where(조건문, 참일때 값, 거짓일 때 값)
fee = 0.0005

# 수익률 = 목표가/종가 
df['ror'] = np.where(df['high'] > df['target'], df['close']/df['target'] - fee, 1)
df['ror']

2021-09-30 09:00:00    1.000000
2021-10-01 09:00:00    1.087734
2021-10-02 09:00:00    0.994436
2021-10-03 09:00:00    1.004410
2021-10-04 09:00:00    1.024879
                         ...
2022-05-13 09:00:00    0.996714
2022-05-14 09:00:00    1.015141
2022-05-15 09:00:00    1.021486
2022-05-16 09:00:00    1.000000
2022-05-17 09:00:00    1.002951
Name: ror, Length: 230, dtype: float64

In [5]:
# 누적 곱 계산(cumprod) => 누적 수익률
df['hpr'] = df['ror'].cumprod()
df['hpr']

2021-09-30 09:00:00    1.000000
2021-10-01 09:00:00    1.087734
2021-10-02 09:00:00    1.081682
2021-10-03 09:00:00    1.086452
2021-10-04 09:00:00    1.113481
                         ...
2022-05-13 09:00:00    0.707289
2022-05-14 09:00:00    0.717998
2022-05-15 09:00:00    0.733426
2022-05-16 09:00:00    0.733426
2022-05-17 09:00:00    0.735590
Name: hpr, Length: 230, dtype: float64

In [6]:
# Draw Down 계산. (누적 최대 값과 현재 hpr 차이/ 누적 최대값*100)
df['dd'] = (df['hpr'].cummax() - df['hpr']) / df['hpr'].cummax() *100
df

,open,high,low,close,volume,value,range,target,ror,hpr,dd
2021-09-30 09:00:00,50800000.0,53673000.0,50731000.0,53523000.0,6716.780346,3.537608e+11,94144.0,NaN,1.000000,1.000000,0.000000
2021-10-01 09:00:00,53523000.0,58582000.0,53070000.0,58348000.0,9344.907875,5.266290e+11,176384.0,53617144.0,1.087734,1.087734,0.000000
2021-10-02 09:00:00,58348000.0,58999000.0,57660000.0,58228000.0,4852.968580,2.830123e+11,42848.0,58524384.0,0.994436,1.081682,0.556428
2021-10-03 09:00:00,58238000.0,59390000.0,57250000.0,58567000.0,4489.395790,2.620021e+11,68480.0,58280848.0,1.004410,1.086452,0.117894
2021-10-04 09:00:00,58466000.0,60331000.0,57346000.0,60020000.0,6699.988769,3.923047e+11,95520.0,58534480.0,1.024879,1.113481,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
2022-05-13 09:00:00,39246000.0,41324000.0,38777000.0,39270000.0,12398.918801,4.983739e+11,81504.0,39379696.0,0.996714,0.707289,50.666327
2022-05-14 09:00:00,39270000.0,40243000.0,38400000.0,39967000.0,5512.195620,2.170088e+11,58976.0,39351504.0,1.015141,0.717998,49.919367
2022-05-15 09:00:00,39967000.0,41000000.0,39270000.0,40906000.0,4277.655034,1.706726e+11,55360.0,40025976.0,1.021486,0.733426,48.843318
2022-05-16 09:00:00,40902000.0,40940000.0,38620000.0,39256000.0,5678.833853,2.243704e+11,74240.0,40957360.0,1.000000,0.733426,48.843318
2022-05-17 09:00:00,39260000.0,39900000.0,39088000.0,39470000.0,2861.872437,1.129313e+11,25984.0,39334240.0,1.002951,0.735590,48.692332

In [7]:
print(f"MDD(%): {df['dd'].max()}")

MDD(%): 50.666326576059674

In [8]:
df['hpr'][-1]

0.7355902330945883

# Back testing function

In [9]:
def back_testing(coin_type, k_value, term, prt:bool=False):
    time.sleep(0.1) # Redundant
    try:
        df = pyupbit.get_ohlcv(coin_type, count=term) # Redundant
        df['range'] = (df['high'] - df['low']) * k_value
        df['target'] = df['open'] + df['range'].shift(1) 

        fee = 0.0032
        df['ror'] = np.where(df['high'] > df['target'], df['close']/df['target'] - fee, 1)

        df['hpr'] = df['ror'].cumprod()
        df['dd'] = (df['hpr'].cummax() - df['hpr']) / df['hpr'].cummax() * 100

        pct = df['hpr'][-1]
        profit = round(pct-1, 5) * 100

        if (prt):
            print_str = f"{coin_type} {term}일간 수익률: {profit}%, MDD: {df['dd'].max()}"
            print(print_str)

    except Exception as e:
        print(e)
        time.sleep(0.1)
        return 7210, 7210
    
    return profit, df['dd'].max()

In [10]:
back_testing("KRW-ETH", 0.0032, 60, True)

KRW-ETH 60일간 수익률: -38.111%, MDD: 46.57260899228698

(-38.111, 46.57260899228698)

In [11]:
back_testing("KRW-ETH", 0.451, 60, True)

KRW-ETH 60일간 수익률: -23.099%, MDD: 23.098911965970203

(-23.099, 23.098911965970203)

In [12]:
back_testing("KRW-BTC", 0.0032, 60, True)

KRW-BTC 60일간 수익률: -36.284%, MDD: 41.103290373056495

(-36.284, 41.103290373056495)

In [13]:
back_testing("KRW-BTC", 0.451, 60, True)

KRW-BTC 60일간 수익률: -21.884%, MDD: 25.66777153205789

(-21.884, 25.66777153205789)

# Finding Hyper parameter

In [15]:
def find_hyper_k(coin_type, term):
    # k value의 최적값을 찾기 위해 backtesting하며 수익률을 확인한다.
    df = pd.DataFrame([[0,0,0]], columns=['수익률', 'MDD%', 'k-value'])

    for i in tqdm(np.arange(0, 0.5, 0.001), desc='Progress', mininterval=0.1):
        profit, mdd = back_testing(coin_type, i, term, False)

        max_profit = df['수익률'].max()
        if profit >= max_profit:
            df = df.append(pd.Series([profit, mdd, i], index=df.columns), ignore_index=True)

    filter = df['수익률'] == df['수익률'].max()
    hyper_k = df[filter].iloc[0,2]
    
    return hyper_k

In [ ]:
find_hyper_k("KRW-NEAR", 11)

Progress:  72%|██████████████████████████▍          | 358/500 [00:54<00:20,  6.87it/s]

In [ ]:
df

In [20]:
# k value의 최적값을 찾기 위해 backtesting하며 수익률을 확인한다.
df = pd.DataFrame([[0,0,0]], columns=['수익률', 'MDD%', 'k-value'])

for i in tqdm(np.arange(0, 0.5, 0.001), desc='Progress', mininterval=0.1):
    profit, mdd = back_testing("KRW-KNC", i, 14, False)

    max_profit = df['수익률'].max()
    if profit >= max_profit:
        df = df.append(pd.Series([profit, mdd, i], index=df.columns), ignore_index=True)
filter = df['수익률'] == df['수익률'].max()
hyper_k = df[filter].iloc[0,2]

Progress: 100%|██████████| 500/500 [01:32<00:00,  5.38it/s]

In [21]:
filter = df['수익률'] == df['수익률'].max()
df[filter]

     수익률      MDD%  k-value
1  15.04  9.019347      0.0